<%= make_home_path %>
<div class="tab_content">
	<p id="notice"><%= notice %></p>
	<h2>Editing genre</h2>

	<%= render 'form' %>

	<%= link_to 'Show', @genre %> |
	<%= link_to 'Back', genres_path %>
</div>
