<%= make_home_path %>
<div class="tab_content">
	<p id="notice"><%= notice %></p>
<h2>Editing discipline</h2>

<%= render 'form' %>

<%= link_to 'Show', @discipline %> |
<%= link_to 'Back', disciplines_path %>
</div>
