<%= make_home_path %>
<div class="tab_content">
	<p id="notice"><%= notice %></p>
<h2>Editing IP</h2>

<%= render 'form' %>

<%= link_to 'Show', @white_list %> |
<%= link_to 'Back', white_lists_path %>
</div>
