<%= make_home_path %>
<div class="tab_content">
	<p id="notice"><%= notice %></p>
	<h2>Autocomplete</h2>
  <%= make_xml_path(request.fullpath) %><br/>
  <%= make_json_path(request.fullpath) %>
	<table class="results">
		<tr>
			<th>Suggestion</th>
			<th>Number of Occurrences</th>
		</tr>
	<% @results.each { |item| %>
		<tr>
			<td><%= item[:item] %></td>
			<td><%= number_with_delimiter(item[:occurrences]) %></td>
		</tr>
	<% } %>
	</table>
</div>