<%= make_home_path %>
<div class="tab_content">
	<p id="notice"><%= notice %></p>
  <%= make_xml_path(request.fullpath) %><br/>
  <%= make_json_path(request.fullpath) %>
	<h1>Names:</h1>

	<h2>Authors</h2>
	<table class="results">
		<tr>
			<th>Name</th>
			<th>Number of Occurrences</th>
		</tr>
	<% @results['role_AUT'].each { |item| %>
		<tr>
			<td><%= item[:name] %></td>
			<td><%= number_with_delimiter(item[:count]) %></td>
		</tr>
	<% } %>
	</table>

	<h2>Editors</h2>
	<table class="results">
		<tr>
			<th>Name</th>
			<th>Number of Occurrences</th>
		</tr>
	<% @results['role_EDT'].each { |item| %>
		<tr>
			<td><%= item[:name] %></td>
			<td><%= number_with_delimiter(item[:count]) %></td>
		</tr>
	<% } %>
	</table>

	<h2>Publishers</h2>
	<table class="results">
		<tr>
			<th>Name</th>
			<th>Number of Occurrences</th>
		</tr>
	<% @results['role_PBL'].each { |item| %>
		<tr>
			<td><%= item[:name] %></td>
			<td><%= number_with_delimiter(item[:count]) %></td>
		</tr>
	<% } %>
	</table>
</div>
