<%= make_home_path %>
<div class="tab_content">
	<p id="notice"><%= notice %></p>
	<h2>Totals</h2>
	<%= make_xml_path(request.fullpath) %><br/>
	<%= make_json_path(request.fullpath) %>
	<table class="results">
		<tr>
			<th>Federation</th>
			<th>Number of Objects</th>
			<th>Number of Archives</th>
		</tr>
	<% @totals.each { |total| %>
		<tr>
			<td><%= total[:federation] %></td>
			<td><%= number_with_delimiter(total[:total]) %></td>
			<td><%= total[:sites] %></td>
		</tr>
	<% } %>
	</table>
</div>