<%= make_home_path %>
<div class="tab_content">
	<p id="notice"><%= notice %></p>
	<h2>Editing federation</h2>

	<%= render 'form' %>

	<%= link_to 'Show', @federation %> |
	<%= link_to 'Back', federations_path %>
</div>
